@keyframes roveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translate(-1.8rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes roveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translate(1.8rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes roveinBottom {
  0% {
    opacity: 0;
    transform: translatey(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
